@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  a {
    @apply text-blue-400;
  }
  a:hover {
    @apply underline;
  }
  a:visited {
    @apply text-violet-400;
  }
}

:root {
  --primary: #38bdf8;
  --tag-background: #0369a1;
}
