@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply max-sm:text-xl;
  }
  h2 {
    @apply text-xl;
    @apply max-sm:text-lg;
  }
  a {
    @apply text-blue-600 dark:text-blue-400;
  }
  a:hover {
    @apply underline;
  }
  a:visited {
    @apply text-violet-600 dark:text-violet-400;
  }

  body {
    @apply bg-background text-text-color;
    @apply max-sm:text-sm;
  }

  .break-before {
    break-before: page;
  }

  .break-after {
    break-after: page;
  }

  html:not(.dark) {
    --text-color: black;
    --background: white;
    --primary: #0ea5e9; /* sky-500 */
    --tag-background: #bae6fd; /* sky-200 */
    --grade: #d4d4d4; /* neutral-300 */
  }

  html.dark {
    --text-color: white;
    --background: #262626;
    --primary: #38bdf8; /* sky-400 */
    --tag-background: #0369a1; /* sky-700 */
    --grade: #525252; /* neutral-600 */
  }
}
