@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply max-sm:text-xl;
  }
  h2 {
    @apply text-xl;
    @apply max-sm:text-lg;
  }
  a {
    @apply text-blue-400;
  }
  a:hover {
    @apply underline;
  }
  a:visited {
    @apply text-violet-400;
  }

  body {
    @apply dark:bg-neutral-800 dark:text-white;
    @apply max-sm:text-sm;
  }
}

:root {
  --primary: #38bdf8;
  --tag-background: #0369a1;
  --grade: #525252;
}
